body {
 font-family: "Outfit", sans-serif;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(212, 45%, 89%);
}
.main-image {
    border-radius: 10px;
    width: 250px;
}
.all-box {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: min-content;
    gap: 20px;
}
p {
    text-align: center;
    margin: 0;
    font-size: 15px;
}
.word-1 {
font-weight: 700;
color: hsl(218, 44%, 22%);
}
.word-2 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    margin-bottom: 10px;
}