body {
 min-height: 100vh;
 width: 1440px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: hsl(212, 45%, 89%);
}
.main-image {
    border-radius: 10px;
    width: 300px;
}
.all-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    max-width: 300px;
}